.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 45rem;
  height: 64rem;
  object-fit: cover;
}
.frame-item {
  position: absolute;
  top: 4.94rem;
  left: 50.5rem;
  width: 4.5rem;
  height: 4.5rem;
}
.login-to-your {
  position: relative;
}
.frame-wrapper,
.login-to-your-account-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-wrapper {
  justify-content: flex-start;
}
.email {
  position: relative;
  font-weight: 600;
}
.frame-inner {
  border: 1px solid var(--color-lightgray);
  background-color: transparent;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 26.25rem;
}
.email-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.check {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
}
.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.forgot-password {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: var(--color-purple);
}
.checkbox-parent,
.frame-container,
.frame-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox-parent {
  flex-direction: row;
  gap: 13.88rem;
  font-size: var(--font-size-xs);
  color: #a1a1a1;
}
.frame-container,
.frame-div {
  flex-direction: column;
}
.frame-div {
  gap: var(--gap-5xs);
}
.frame-container {
  gap: 1.5rem;
}
.login {
  position: relative;
  font-size: 1.13rem;
  font-weight: 800;
  font-family: var(--font-nunito-sans);
  color: var(--color-white);
  text-align: left;
}
.login-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0.81rem 0.63rem 0.75rem;
  background-color: var(--color-purple);
  border-radius: 6px;
  width: 26.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.frame-group,
.frame-parent {
  display: flex;
  flex-direction: column;
}
.frame-group {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  font-size: var(--font-size-sm);
  color: var(--gray-3);
}
.frame-parent {
  position: absolute;
  top: 13.69rem;
  left: 51.19rem;
  width: 33.88rem;
  height: 40.06rem;
  align-items: center;
  justify-content: center;
  gap: 2.25rem;
}
.rectangle-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 64rem;
  overflow: hidden;
  text-align: left;
  font-size: 2.25rem;
  color: #525252;
  font-family: var(--font-nunito-sans);
}
