
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; 
    border-radius: 0.5rem; /* 8px / 16px = 0.5rem */
    margin-top: 2rem; /* 20px / 16px = 1.25rem */
    max-height: 20rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #cdcdcd;
    padding-left: 70px;
    padding-right: 70px
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 5px; /* Optional: add some spacing between the input boxes */
  }
  
  button {
    padding: 8px;
  }
  
  .changepw{
    background-color: #3498db;
    color: white;
    border: none;
    height: 2.5rem; 
    border-radius: 2mm;
    font-weight: 700;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px; /* Adjust the margin as needed */
}

.changepw {
  margin-bottom: 10px; /* Add margin between buttons if desired */
}

.deleteicon {
  margin-bottom: 100px; /* Add margin between buttons if desired */
}


.delete-button {
  background-color: transparent; /* Transparent background for the button */
}

.delete-button img {
  height: 1.5rem;
  margin-right: 0.5rem;
}

/* New CSS */

/* To change the background color behind the image */
.delete-button img {
  background-color: transparent; /* Change 'yourDesiredColor' to your preferred color code */
  padding: 0.2rem; /* Adding some padding around the image */
  border-radius: 50%; /* Optional: Makes the background circular */
}

/* If you want to remove the transparent background from the button */
.del-but{
background-color: transparent;
    color: #fff;
    
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}