
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; 
    border-radius: 0.5rem; /* 8px / 16px = 0.5rem */
    margin-top: 2rem; /* 20px / 16px = 1.25rem */
    max-height: 20rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #cdcdcd;
    padding-left: 70px;
    padding-right: 70px
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 5px; /* Optional: add some spacing between the input boxes */
  }
  
  button {
    padding: 8px;
  }
  
  .changepw{
    background-color: #3498db;
    color: white;
    border: none;
    height: 2.5rem; 
    border-radius: 2mm;
    font-weight: 700;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px; /* Adjust the margin as needed */
}

.changepw {
  margin-bottom: 10px; /* Add margin between buttons if desired */
}
