@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-13xl: 2rem;
  --font-size-sm: 0.88rem;
  --font-size-base: 1rem;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-dimgray: #525252;

  /* Border radiuses */
  --br-3xs: 10px;
}
