.rectangle-icon {
  position: absolute;
  top: 5.5rem;
  left: 2.38rem;
  border-radius: var(--br-3xs);
  width: 18.44rem;
  height: 14.44rem;
  object-fit: cover;
}
.frame-child1,
.frame-child2 {
  position: absolute;
  top: 20.63rem;
  left: 14.13rem;
  width: 2.13rem;
  height: 2.13rem;
  object-fit: cover;
}
.frame-child2 {
  left: 17.25rem;
}
.frame-child3 {
  left: 2.38rem;
  object-fit: cover;
}
.div,
.div1,
.frame-child3,
.frame-child4,
.usa-today {
  position: absolute;
  top: 20.63rem;
  width: 2.13rem;
  height: 2.13rem;
}
.frame-child4 {
  left: 8.06rem;
  object-fit: cover;
}
.div,
.div1,
.usa-today {
  left: 5.13rem;
  display: inline-block;
}
.div1,
.usa-today {
  left: 11rem;
}
.usa-today {
  top: 1.63rem;
  left: 7.44rem;
  font-size: var(--font-size-13xl);
  width: 13.38rem;
  height: 2.69rem;
}
.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.69rem;
  height: 23.56rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
