.create-post,
.settings {
  text-decoration: none;
  top: calc(50% - 29px);
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  height: 3.5rem;
  flex-shrink: 0;
}
.settings {
  position: absolute;
  margin: 0 !important;
  left: calc(50% + 459px);
  width: 12.5rem;
  z-index: 0;
}
.create-post {
  left: calc(50% + 159px);
  width: 14.38rem;
  z-index: 1;
}
.create-post,
.header-child,
.search {
  position: absolute;
  margin: 0 !important;
}
.search {
  text-decoration: none;
  top: calc(50% - 29px);
  left: calc(50% - 16px);
  font-weight: 700;
  color: inherit;
  display: none;
  align-items: center;
  width: 12.5rem;
  height: 3.5rem;
  flex-shrink: 0;
  z-index: 2;
}
.header-child {
  top: calc(50% - 26px);
  left: calc(50% - 691px);
  width: 3.13rem;
  height: 3.13rem;
  z-index: 3;
}
.noun-profile-665436-1 {
  text-decoration: none;
  position: absolute;
  margin: 0 !important;
  top: 0.94rem;
  left: 84.38rem;
  width: 3.75rem;
  height: 3.22rem;
  background-image: url(/public/nounprofile6654361@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 4;
}
.header-item {
  position: absolute;
  margin: 0 !important;
  bottom: 0.09rem;
  left: 70.59rem;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 0.06rem;
  height: 5.06rem;
  z-index: 5;
}
.header,
.home {
  position: absolute;
  display: flex;
}
.home {
  text-decoration: none;
  margin: 0 !important;
  top: 0.88rem;
  left: 45rem;
  font-weight: 700;
  color: inherit;
  align-items: center;
  width: 12.5rem;
  height: 3.5rem;
  flex-shrink: 0;
  z-index: 6;
}
.header {
  top: calc(50% - 541px);
  left: -0.25rem;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 90.13rem;
  height: 5.13rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl) var(--padding-44xl-5);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray);
  font-family: var(--font-poppins);
}
