@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-9xl: 1.75rem;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-aliceblue: #e6f2ff;

  /* Border radiuses */
  --br-6xs: 7px;
  --br-8xs: 5px;
}
