<!-- views/forgotpassword.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/forgotpassword.css">
    <title>Document</title>
</head>

<body>
    <div class="mainDiv">
        <div class="cardStyle">
            <form action="/user/forgotpassword" method="post" name="forgotPasswordForm" id="forgotPasswordForm">
                <h2 class="formTitle">
                    Forgot Password
                </h2>
                <div class="inputDiv">
                    <label class="inputLabel" for="email">Email</label>
                    <input type="email" id="email" name="email" required placeholder="Enter your mail ID">
                </div>
                <div class="buttonWrapper">
                    <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                        <span>Confirm</span>
                        <span id="loader"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>
