<!-- views/forgotpassword.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/forgotpassword.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="mainDiv">
      <div class="cardStyle">
        <form
          action="/user/forgotpassword"
          method="post"
          name="forgotPasswordForm"
          id="forgotPasswordForm"
        >
          <h2 class="formTitle">Forgot Password</h2>
          <div class="inputDiv">
            <label class="inputLabel" for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              required
              placeholder="Enter your mail ID"
            />
          </div>
          <div class="buttonWrapper">
            <button
              type="submit"
              id="submitButton"
              class="submitButton pure-button pure-button-primary"
            >
              <span>Confirm</span>
              <span id="loader"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <script>
      // script.js

      document.addEventListener("DOMContentLoaded", function () {
        var forgotPasswordForm = document.getElementById("forgotPasswordForm");

        forgotPasswordForm.addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the default form submission

          // Retrieve the input values
          var email = forgotPasswordForm.elements["email"].value;

          // Use the values as needed (e.g., send them to the server or perform client-side validation)
          const baseurl = window.location.origin;
          // Use the Fetch API to send a POST request to the server
            // console.log(email);
          var url = `/user/resetpassword/send-email?email=${encodeURIComponent(
            email
          )}`;

          redirectToUrl(url, email);
        });
        function redirectToUrl(fullUrl, email) {
            // console.log(email);
            const requestOptions = {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ email: email }), // Sending vote in the request body
            };
          fetch ("/user/forgotpassword", requestOptions)
          .then((response) => response.json())
          .then((data) => {
            if(data.check){
                window.location.href = fullUrl;
            }
            else{
                alert(data.message);
            }
          })
          .catch((error) => {
                console.error("Error:", error);
            });
        }
        
        
      });
    </script>
  </body>
</html>
