<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/profile_index.css" />
    <link rel="stylesheet" href="/styles/homepage_global.css" />
    <link rel="stylesheet" href="/styles/homepage_index.css" />
  </head>

  <body>
    <div class="home-desktop" data-animate-on-scroll>
      <div class="header">
        <img class="header-child" alt="" src="" />
        <button
          class="home"
          onclick="redirectToUrl('/home')"
          style="font-weight: bold"
        >
          Home
        </button>
        <button
          class="search"
          onclick="redirectToUrl('/search')"
          style="font-weight: bold"
        >
          Search
        </button>
        <button
          class="create-post"
          onclick="redirectToUrl('/createpost')"
          style="font-weight: bold"
        >
          Create Post
        </button>

        <button class="profile"><img src="/images/profile.png" /></button>
      </div>

      <div class="container">
        <div class="form">
          <b>Username: </b><%= user.name %><br /><br />
          <b>Email: </b><%= user.email %>
        </div>

        <div class="buttons-container">
          <button class="changepw" onclick="reset()">Change Password</button>
          <button
            class="changepw"
            onclick="window.location.href='/user/logout'"
          >
            Sign Out
          </button>
          <script>
            function reset() {
               const email = "<%= user.email %>";
              var url = `/user/resetpassword/send-email?email=${encodeURIComponent(
                email
              )}`;
              redirectToUrl(url);
            }
          </script>
        </div>
        <script>
          function redirectToUrl(fullUrl) {
            window.location.href = fullUrl;
          }

          function logout() {
            fetch("/user/logout", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
            })
              .then((response) => response.json())
              .then((data) => {
                console.log("Logout Success:", data);
                // Redirect to the login page after successful logout
                redirectToUrl("/login");
              })
              .catch((error) => {
                console.error("Logout Error:", error);
              });
          }
        </script>
      </div>

      <div class="dishes" id="postsContainer">
        <!-- Dynamic content will be added here -->
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const postsContainer = document.getElementById("postsContainer");

        const baseURL = window.location.origin;
        console.log("Base URL:", baseURL);
        const userid = "<%= user._id %>";
        fetch(baseURL + "/post/getpost/" + userid)
          .then((response) => response.json())
          .then((posts) => {
            const p = posts.posts;
            console.log(p);

            let PostPageUrl = "";
            const url = baseURL + "/posts/";
            p.forEach((post) => {
              const postElement = document.createElement("div");
              postElement.className = "cardsfood-card";

              PostPageUrl = url + "/${post._id}";
              console.log(PostPageUrl);
              postElement.innerHTML = `
                            <div>
                                <button class="usa-today" ">${post.user.name}</button>
                            </div>
                            <div>
                                <button class="if-benjamin-netanyahu-led" onclick="redirectToUrl('${baseURL}/home/posts/${post._id}')">${post.title}</button>
                            </div>
                            <div>
                                <div class="react-container">
                                    <img class="react" src="/images/upvote.png" style="height: 1.5rem; margin-right: 0.5rem;">
                                    <p class="reaction-count">${post.upvote}</p>
                                </div>
                                <div class="react-container">
                                    <img class="react" src="/images/downvote.png" style="height: 1.5rem; margin-right: 0.5rem;">
                                    <p class="reaction-count">${post.downvote}</p>
                                </div>
                                <div class="react-container">
                                    <img class="react" src="/images/comment.png" style="height: 1.5rem; margin-right: 0.5rem;">
                                    <p class="reaction-count">${post.noofreplies}</p>
                                </div>
                            </div>
                        `;

              postsContainer.appendChild(postElement);
            });
          })
          .catch((error) => console.error("Error fetching posts:", error));
      });
    </script>
  </body>
</html>
