<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/resetpassword.css">
    <title>Document</title>
   
</head>

<body>
    <div class="mainDiv">
        <div class="cardStyle">
          <form action="" method="post" name="signupForm" id="signupForm">
            <h2 class="formTitle">
              Change Password
            </h2>
            <div class="inputDiv">
              <label class="inputLabel" for="email">Email</label>
              <input type="email" id="email" name="email" required placeholder="Enter your Email ID">
          </div>
          <div class="inputDiv">
            <label class="inputLabel" for="password">New Password</label>
            <input type="password" id="password" name="password" required placeholder="Enter new Password"  >
          </div>
            
          <div class="inputDiv">
            <label class="inputLabel" for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" >
          </div>
          
          <div class="buttonWrapper">
            <button type="submit" id="submitButton" onclick="redirectToUrl('/resetpassword')" class="submitButton pure-button pure-button-primary">
              <span>Confirm</span>
              <span id="loader"></span>
            </button>
          </div>
            
        </form>
        </div>
      </div>
      <script>
        var password = document.getElementById("password"),
            confirm_password = document.getElementById("confirmPassword");
            email = document.getElementById('email').value;

        const submit = document.getElementById("submitButton");

        submit.addEventListener("click", handleSubmit);

        function handleSubmit(event) {
            event.preventDefault();

            if (validatePassword()) {
                // Add your logic to handle the successful form submission
                alert('Password is valid. Form submitted!');
                window.location.href = '/login';

            } else {
                
            }
        }

        function validatePassword() {
            let isvalid = 1;

            var lengthRegex = /.{8,}/; // At least 8 characters

            if(password.value != confirm_password.value){
              password.setCustomValidity('Passwords do not match');
              alert('Passwords do not match');
              return false;
            }
            idvalid = lengthRegex.test(password.value);
            if(!idvalid){
              password.setCustomValidity('Password must be at least 8 characters long');
              alert('Password must be at least 8 characters long');
              return false;
            }
            var anyCharacterRegex = /[a-zA-Z]/;
            idvalid = anyCharacterRegex.test(password.value);
            if(!idvalid){
              password.setCustomValidity('Password must contain alteast one character');
              alert('Password must contain alteast one character');
              return false;
            }
            
            var digitRegex = /\d/; // At least one digit
            idvalid = digitRegex.test(password.value);
            if(!idvalid){
              password.setCustomValidity('Password must contain alteast one digit');
              alert('Password must contain alteast one digit');
              return false;
            }

            return true;
            
        }
      </script>
</body>


</html>