<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/resetpassword.css" />
    <title>Change Password</title>
</head>

<body>
    <div class="mainDiv">
        <div class="cardStyle">
            <form action="/user/newpassword" method="post" name="resetPasswordForm" id="resetPasswordForm">
                <h2 class="formTitle">Change Password</h2>

                <div class="inputDiv">
                    <label class="inputLabel" for="otp">Enter OTP</label>
                    <input type="text" id="otp" name="otp" required placeholder="Enter 6-digit OTP" />
                </div>

                <div class="inputDiv">
                    <label class="inputLabel" for="password">New Password</label>
                    <input type="password" id="password" name="newP" required placeholder="Enter new Password" />
                </div>

                <div class="inputDiv">
                    <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confP" placeholder="Confirm Password" />
                </div>

                <div class="buttonWrapper">
                    <button type="button" id="submitButton" class="submitButton pure-button pure-button-primary">
                        <span>Confirm</span>
                        <span id="loader"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const password = document.getElementById("password");
            const confirmPassword = document.getElementById("confirmPassword");
            const otpInput = document.getElementById("otp");
            const submitButton = document.getElementById("submitButton");

            submitButton.addEventListener("click", function (event) {
                event.preventDefault();

                const enteredOTP = otpInput.value;
                if (!isValidOTP(enteredOTP)) {
                    alert("Please enter a valid 6-digit OTP.");
                    return;
                }

                const expectedOTP = "<%= OTP%>";
                const email = "<%= email %>";

                if (enteredOTP === expectedOTP && validatePassword()) {
                    const newPassword = password.value;
                    const confirmPasswordValue = confirmPassword.value;

                    if (newPassword === confirmPasswordValue) {
                        resetPassword(email, newPassword);
                    } else {
                        alert("Passwords do not match");
                    }
                } else {
                    alert("Invalid OTP. Please enter the correct OTP.");
                }
            });

            function isValidOTP(otp) {
                return otp.length === 6 && !isNaN(otp);
            }

            function validatePassword() {
                const lengthRegex = /.{8,}/;
                const anyCharacterRegex = /[a-zA-Z]/;
                const digitRegex = /\d/;

                if (!lengthRegex.test(password.value)) {
                    alert("Password must be at least 8 characters long");
                    return false;
                }

                if (!anyCharacterRegex.test(password.value)) {
                    alert("Password must contain at least one character");
                    return false;
                }

                if (!digitRegex.test(password.value)) {
                    alert("Password must contain at least one digit");
                    return false;
                }

                return true;
            }

            function resetPassword(email, newPassword) {
                fetch("/user/newpassword", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            email: email,
                            newP: newPassword,
                            confP: confirmPassword.value,
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert("Password reset successful");
                        window.location.href = "/user/logout";
                    })
                    .catch(error => {
                        alert("Error resetting password:", error);
                    });
            }
        });
    </script>
</body>

</html>