.create-post,
.search,
.settings {
  top: calc(50% - 29px);
  display: flex;
  align-items: center;
  height: 3.5rem;
  flex-shrink: 0;
}
.search {
  position: absolute;
  margin: 0 !important;
  left: calc(50% - 571px);
  width: 12.5rem;
  z-index: 0;
}
.create-post,
.settings {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}
.settings {
  position: absolute;
  margin: 0 !important;
  left: calc(50% + 459px);
  width: 12.5rem;
  z-index: 1;
}
.create-post {
  left: calc(50% + 159px);
  width: 14.38rem;
  z-index: 2;
}
.create-post,
.header-child,
.home {
  position: absolute;
  margin: 0 !important;
}
.home {
  text-decoration: none;
  top: calc(50% - 29px);
  left: calc(50% - 16px);
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  width: 12.5rem;
  height: 3.5rem;
  flex-shrink: 0;
  z-index: 3;
}
.header-child {
  top: calc(50% - 26px);
  left: calc(50% - 691px);
  width: 3.13rem;
  height: 3.13rem;
  z-index: 4;
}
.noun-profile-665436-1 {
  text-decoration: none;
  position: absolute;
  margin: 0 !important;
  top: 0.94rem;
  left: 84.38rem;
  width: 3.75rem;
  height: 3.22rem;
  background-image: url(/public/nounprofile6654361@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 5;
}
.header-item {
  position: absolute;
  margin: 0 !important;
  bottom: 0.09rem;
  left: 70.59rem;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 0.06rem;
  height: 5.06rem;
  z-index: 6;
}
.background,
.header {
  position: absolute;
  background-color: var(--color-white);
}
.header {
  top: calc(50% - 571px);
  left: -0.06rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 90.13rem;
  height: 5.13rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1.56rem 3.97rem;
  color: var(--color-dimgray);
}
.background {
  top: 5rem;
  left: 0;
  box-shadow: 0 0.33000001311302185px 0#bdc5cd;
  width: 90rem;
  height: 5rem;
}
.cancel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.38rem;
  left: 81.19rem;
  font-size: 1.5rem;
  letter-spacing: -0.4px;
  font-family: var(--font-poppins);
  color: var(--color-purple);
  text-align: left;
  display: inline-block;
}
.top-bar-child {
  position: absolute;
  top: 0.94rem;
  left: 2.69rem;
  border-radius: 16px;
  background-color: var(--background);
  width: 74.94rem;
  height: 3.13rem;
}
.search-icon,
.search-username {
  position: absolute;
  top: 1.75rem;
  left: 4.75rem;
  width: 1.56rem;
  height: 1.56rem;
}
.search-username {
  border: 0;
  font-weight: 600;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xl);
  background-color: transparent;
  top: 1.38rem;
  left: 8.81rem;
  letter-spacing: 3px;
  color: var(--darken-text);
  text-align: left;
  display: inline-block;
  width: 68.25rem;
  height: 2.06rem;
}
.top-bar {
  position: absolute;
  top: 5.38rem;
  left: 0;
  width: 90rem;
  height: 5rem;
  overflow: hidden;
}
.recent-searches {
  position: absolute;
  top: 0.38rem;
  left: 36.88rem;
  letter-spacing: -0.5px;
}
.round {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #acb7c1;
  width: 1.56rem;
  height: 1.56rem;
}
.close-button,
.union-icon {
  position: absolute;
  top: 0.41rem;
  left: 0.41rem;
  width: 0.74rem;
  height: 0.74rem;
}
.close-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1.13rem;
  left: 84.19rem;
  width: 1.56rem;
  height: 1.56rem;
  opacity: 0.6;
}
.background1,
.settings-header {
  position: absolute;
  left: 0;
  background-color: var(--color-white);
  width: 90rem;
}
.settings-header {
  top: 10rem;
  height: 3.75rem;
  overflow: hidden;
  color: var(--darken-text);
}
.background1 {
  top: 0;
  box-shadow: 0 0.33000001311302185px 0 rgba(0, 0, 0, 0.25),
    0-0.33000001311302185px 0#ced5dc;
  height: 9.5rem;
}
.secondary-separator {
  position: absolute;
  top: 8.16rem;
  left: -0.01rem;
  border-top: 0.3px solid var(--secondary-spearator);
  box-sizing: border-box;
  width: 25.9rem;
  height: 0.02rem;
}
.round-icon {
  position: absolute;
  top: 0;
  left: 0.75rem;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.98rem;
  object-fit: cover;
}
.sab-khasa {
  position: absolute;
  top: 4.03rem;
  left: 0.18rem;
  letter-spacing: -0.2px;
  display: inline-block;
  width: 7.14rem;
  height: 1.61rem;
}
.profile,
.profile2,
.s-khasan {
  position: absolute;
  width: 7.5rem;
}
.s-khasan {
  top: 4.94rem;
  left: 0;
  letter-spacing: -0.2px;
  color: var(--darken-text);
  display: inline-block;
  height: 1.61rem;
}
.profile,
.profile2 {
  height: 6.55rem;
}
.profile {
  text-decoration: none;
  top: 1.5rem;
  left: 8.13rem;
  color: inherit;
}
.profile2 {
  top: 0;
  left: 0;
}
.profile1,
.profile5 {
  text-decoration: none;
  width: 7.5rem;
  color: inherit;
}
.profile1 {
  position: absolute;
  top: 1.5rem;
  left: 76.56rem;
  height: 6.55rem;
}
.profile5 {
  top: 0;
  left: 23.13rem;
}
.profile4,
.profile5,
.profile7 {
  position: absolute;
  height: 6.55rem;
}
.profile7 {
  text-decoration: none;
  top: 0;
  left: 0;
  width: 7.5rem;
  color: inherit;
}
.profile4 {
  top: 1.5rem;
  left: 30.63rem;
  width: 30.63rem;
}
.found-profiles {
  position: absolute;
  top: 13.75rem;
  left: 0;
  width: 90rem;
  height: 9.5rem;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.background2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 0.33000001311302185px 0#ced5dc;
  width: 119.88rem;
  height: 7.44rem;
}
.accounts,
.news {
  position: absolute;
  top: 2.31rem;
  letter-spacing: -0.3px;
}
.news {
  text-decoration: none;
  left: 25rem;
  font-weight: 700;
  color: inherit;
}
.accounts {
  left: 55.31rem;
}
.account-child {
  position: absolute;
  top: 5.16rem;
  left: 54.91rem;
  border-top: 5px solid var(--color-purple);
  box-sizing: border-box;
  width: 10rem;
  height: 0.31rem;
}
.account,
.background3 {
  position: absolute;
  left: 0;
}
.account {
  top: 23.25rem;
  width: 90rem;
  height: 7.44rem;
  overflow: hidden;
  color: var(--color-purple);
}
.background3 {
  top: 0;
  background-color: var(--color-white);
  box-shadow: 0 0.33000001311302185px 0#ced5dc;
  width: 119.88rem;
  height: 13.75rem;
}
.round-icon4 {
  position: absolute;
  top: 1.25rem;
  left: 3.69rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
.a-azizdjan,
.azizdjan {
  position: absolute;
  top: 1.56rem;
  left: 10.94rem;
  letter-spacing: -0.3px;
}
.a-azizdjan {
  top: 4.38rem;
  font-size: var(--font-size-xl);
  color: var(--darken-text);
}
.account1 {
  position: absolute;
  top: 0;
  left: 5.06rem;
  width: 27.44rem;
  height: 8.13rem;
  overflow: hidden;
  font-size: var(--font-size-13xl);
}
.azizdjan1 {
  text-decoration: none;
  position: absolute;
  top: 1.56rem;
  left: 10.94rem;
  letter-spacing: -0.3px;
  color: inherit;
}
.account2 {
  position: absolute;
  top: 0;
  left: 5.06rem;
  width: 26.56rem;
  height: 8.13rem;
  overflow: hidden;
}
.account3,
.account4,
.account5,
.account6,
.account7,
.account8,
.account9 {
  position: absolute;
  top: 8.13rem;
  left: 5.06rem;
  width: 26.56rem;
  height: 8.13rem;
  overflow: hidden;
}
.account4,
.account5,
.account6,
.account7,
.account8,
.account9 {
  top: 16.25rem;
}
.account5,
.account6,
.account7,
.account8,
.account9 {
  top: 24.38rem;
}
.account6,
.account7,
.account8,
.account9 {
  top: 32.5rem;
}
.account7,
.account8,
.account9 {
  top: 16.25rem;
  left: 31.63rem;
}
.account8,
.account9 {
  top: 24.38rem;
}
.account9 {
  top: 32.5rem;
}
.account10,
.account11 {
  left: 58.25rem;
  width: 26.56rem;
  height: 8.13rem;
}
.account10 {
  position: absolute;
  top: 24.38rem;
  overflow: hidden;
}
.account11 {
  top: 32.5rem;
}
.account11,
.account12,
.account13 {
  position: absolute;
  overflow: hidden;
}
.account12 {
  top: 16.25rem;
  left: 58.19rem;
  width: 26.56rem;
  height: 8.13rem;
}
.account13 {
  top: 8.13rem;
  left: 31.63rem;
}
.account13,
.account14,
.account15 {
  width: 26.56rem;
  height: 8.13rem;
}
.account14 {
  position: absolute;
  top: 8.13rem;
  left: 58.19rem;
  overflow: hidden;
}
.account15 {
  top: 0;
  left: 31.69rem;
}
.account15,
.account16,
.footer-6-dark {
  position: absolute;
  overflow: hidden;
}
.account16 {
  top: 0;
  left: 58.25rem;
  width: 26.56rem;
  height: 8.13rem;
}
.footer-6-dark {
  height: 57.02%;
  width: 100%;
  top: 43.07%;
  right: 0;
  bottom: -0.09%;
  left: 0;
  background-color: var(--color-white);
  font-size: var(--font-size-9xl);
}
.home-desktop {
  position: relative;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 71.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--bold-text);
  font-family: var(--font-poppins);
}



.home:hover,
.create-post:hover,
.settings:hover {
  color: black; /* Change this to the color you desire on hover */
  cursor: pointer;
}

.accounts {
  transition: transform 0.2s; /* Add a smooth scale transition on hover */
}

.news:hover {
  transform: scale(1.05); /* Scale up the post on hover (adjust the scale factor as needed) */
  cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}

.text {
  transition: color 0.2s; /* Add a smooth color transition on hover */
}

.text:hover {
  color: black; /* Change this to the color you desire on hover */
  cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}

.cancel:hover {
  color: black; /* Change this to the color you desire on hover */
  cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}

.union-icon:hover {
  background-color: black;
  opacity: 0.8; /* Adjust the opacity on hover as needed */
  cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}

.sab-khasa:hover {
  color: #007BFF; /* Change this to the color you desire on hover */
  cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}


.azizdjan1:hover {
  color: #007BFF; /* Change this to the color you desire on hover */
  cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}