@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-nunito-sans: "Nunito Sans";

  /* font sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.88rem;
  --font-size-lg: 1.13rem;

  /* Colors */
  --color-white: #fff;
  --color-purple: #7f265b;
  --color-lightgray: #ded2d9;
  --gray-3: #828282;
  --brand-flat-blue: #0a8bef;

  /* Gaps */
  --gap-3xs: 0.63rem;
  --gap-13xl: 2rem;
  --gap-5xs: 0.5rem;
  --gap-9xs: 0.25rem;

  /* Border radiuses */
  --br-8xs: 5px;
}
