.account-settings {
  position: absolute;
  top: 2.25rem;
  left: 5.56rem;
  display: inline-block;
  width: 22.5rem;
  height: 2.94rem;
}
.upload-new-photo:hover,
.remove-photo:hover,
.reset:hover,
.cancel:hover {
  background-color: var(--color-hover); /* Change the background color on hover */
  color: #007BFF; /* Change the text color on hover */
  border: 1px solid var(--color-hover-border); /* Add a border on hover */
  transition: background-color 0.3s, color 0.3s, border 0.3s; /* Add a smooth transition effect */
  cursor: pointer;
}


.general:hover,
.change-password:hover,
.forgot-password:hover,
.info:hover {
  text-decoration: underline; /* Underline the text on hover */
  color: var(--color-hover-text); /* Change the text color on hover */
  cursor: pointer;
  transition: text-decoration 0.3s, color 0.3s; /* Add a smooth transition effect */
}

.save-changes:hover {
  background-color: var(--color-hover); /* Change the background color on hover */
  color: #584848; /* Change the text color on hover */
  border: 1px solid var(--color-hover-border); /* Add a border on hover */
  transition: background-color 0.3s, color 0.3s, border 0.3s; /* Add a smooth transition effect */
  cursor: pointer;
}
.change-password,
.forgot-password,
.general,
.info {
  text-decoration: none;
  position: absolute;
  top: 2.5rem;
  left: 3.06rem;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  width: 14.5rem;
  height: 3.31rem;
}
.change-password,
.forgot-password,
.info {
  top: 8.31rem;
  width: 18.63rem;
}
.forgot-password,
.info {
  top: 14.13rem;
}
.info {
  top: 19.94rem;
}
.frame-child,
.general-parent {
  background-color: var(--color-aliceblue);
}
.general-parent {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  width: 25.5rem;
  height: 40.81rem;
  overflow: hidden;
}
.frame-child {
  top: 1.56rem;
  left: 9.38rem;
}
.frame-child,
.frame-inner,
.frame-item {
  position: absolute;
  border-radius: var(--br-8xs);
  width: 10.19rem;
  height: 2.94rem;
}
.frame-item {
  top: 35.06rem;
  left: 22.31rem;
  background-color: #007bff;
}
.frame-inner {
  top: 5.88rem;
  left: 9.38rem;
  background-color: var(--color-aliceblue);
}
.save-changes,
.upload-new-photo {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.upload-new-photo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 2.31rem;
  left: 10.06rem;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  width: 9.38rem;
  height: 1.56rem;
}
.save-changes {
  top: 36rem;
  left: 24.06rem;
  width: 6.69rem;
  height: 1.19rem;
}
.remove-photo,
.reset,
.save-changes {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.remove-photo {
  position: absolute;
  top: 6.56rem;
  left: 10.06rem;
  font-weight: 500;
  display: inline-block;
  width: 9.38rem;
  height: 1.56rem;
}
.reset {
  top: 2.5rem;
  left: 22.63rem;
  width: 4.19rem;
  height: 1.13rem;
}
.cancel,
.e-mail,
.name,
.reset,
.username {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.cancel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 36rem;
  left: 34.38rem;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  width: 4.19rem;
  height: 1.13rem;
}
.e-mail,
.name,
.username {
  top: 12.06rem;
  left: 1.56rem;
  width: 7.81rem;
  height: 1.94rem;
}
.e-mail,
.name {
  top: 18.88rem;
}
.e-mail {
  top: 25.69rem;
}
.frame-child1,
.frame-child2,
.rectangle-div {
  position: absolute;
  top: 14.63rem;
  left: 1.56rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-aliceblue);
  width: 41.5rem;
  height: 2.38rem;
}
.frame-child1,
.frame-child2 {
  top: 21.44rem;
}
.frame-child2 {
  top: 28.25rem;
}
.xyaz,
.xyaz1 {
  border: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  background-color: transparent;
  left: 2.25rem;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 39.25rem;
  height: 1.5rem;
}
.xyaz {
  font-size: var(--font-size-base);
  position: absolute;
  top: 15.13rem;
}
.xyaz1 {
  top: 21.94rem;
}
.rectangle-parent,
.xyaz1,
.xyazgmailcom {
  position: absolute;
  font-size: var(--font-size-base);
}
.xyazgmailcom {
  border: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  background-color: transparent;
  top: 28.69rem;
  left: 2.25rem;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 39.25rem;
  height: 1.5rem;
}
.rectangle-parent {
  top: 1.06rem;
  left: 30.38rem;
  width: 44rem;
  height: 38.94rem;
  overflow: hidden;
}
.ellipse-icon {
  position: absolute;
  top: 2.13rem;
  left: calc(50% - 110.5px);
  border-radius: 50%;
  width: 6.75rem;
  height: 6.75rem;
  object-fit: cover;
}
.account-settings-parent,
.frame-parent {
  background-color: var(--color-white);
  overflow: hidden;
}
.frame-parent {
  position: absolute;
  top: 6rem;
  left: 5.5rem;
  border-radius: var(--br-6xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 75.44rem;
  height: 40.94rem;
  font-size: var(--font-size-9xl);
}
.account-settings-parent {
  position: relative;
  width: 100%;
  height: 64rem;
  text-align: left;
  font-size: 2rem;
  color: var(--color-black);
  font-family: var(--font-inter);
}
